@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
}

h2 {
  font-family: 'Anton', sans-serif;  text-transform: uppercase;
  -webkit-text-stroke: 1px #fff;
  position: absolute;
  text-align: center;
}

.containerImg {
  position: relative;
  display: inline-block;
  width: 500px;
  height: 500px;
  overflow: hidden;
}

.colorBg {
  background: #d7c2ff;
}

.formBg {
  border-radius: 50px;
  background: #d7c2ff;
  box-shadow: 20px 20px 60px #b7a5d9, -20px -20px 60px #f7dfff;
}

.button2 {
  padding: 0.7em 1.7em;
  background: #d7c2ff;
  border: 1px solid #d7c2ff;
  border-radius: 10px;
  transition: all .3s;
  box-shadow: 6px 6px 12px #b7a5d9, -6px -6px 12px #f7dfff;
}

.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #b7a5d9, inset -4px -4px 12px #f7dfff;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #000;
}

input[type="range"]::-webkit-slider-thumb {
  background: #000;
}

@media (max-width: 650px) {
  .containerImg {
    width: auto;
    height: auto;
  }
}

